<div class="process">
    <b-container>
        <b-row>
            <b-col>
                <div class="process__title">
                    <h2>
                        <span class="title title--center title--aqua">Process</span>
                    </h2>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <div class="process__journey">
                    <img src="../../assets/img/journey-mobile.png" alt="Journey Process" class="journey journey--mobile">
                    <img src="../../assets/img/journey-desktop.png" alt="Journey Process" class="journey journey--desktop">
                </div>
            </b-col>
        </b-row>
        <b-row align-h="center">
            <b-col cols="12" lg="8">
                <div class="process__summary">
                    <p>We want you to be aware of every step we take to reach your end product, by showing you how we work, you can enquire and be a part of our process. Where able, we will give you full access to view our progress.</p>
                </div>
            </b-col>
        </b-row>
    </b-container>
</div>