<div class="service-card">
    <div class="service-card__inner">
        <div class="service-card__front">
            <img :src="img" :alt="title" :title="title">
            <div class="service-card__up">
                <div class="service-card__front-content">
                    <div class="service-card__icon">
                        <font-awesome-icon :icon="icon.name" :size="icon.size" fixed-width />
                    </div>
                    <h3>{{ title }}</h3> 
                </div>
            </div>
        </div>
        <div class="service-card__back">
            <div class="service-card__back-content">
                <p>
                    <slot></slot>
                </p>
            </div>
        </div>
    </div>
</div>