<div class="guarantee">
    <h2 class="guarantee__title">
        <span class="title title--center title--turqoise">Guarantee</span>
    </h2>
    <div class="guarantee__content">
        <b-container>
            <b-row class="justify-content-center">
                <b-col md="5" lg="3" class="box-wrapper" v-for="box in data.boxes">
                    <box :content="box.content" :icon="{ name: box.icon.name, size: box.icon.size }" :outline="box.outline"></box>
                </b-col>
            </b-row>
        </b-container>
    </div>
</div>