<div class="copyright">
    <b-container fluid>
        <b-row class="align-items-center">
            <b-col cols="6">
                <div class="copyright__company">
                    <span>&copy; DevItUp Ltd</span>
                </div>
            </b-col>
            <b-col cols="6">
                <div class="copyright__developer">
                    <img src="../../../assets/img/tomaldy-logo.png" alt="TomAldy Logo" title="TomAldy Logo" class="developer-logo">
                </div>
            </b-col>
        </b-row>
    </b-container>
</div>