<div class="blog">
    <div class="blog__shapes"></div>
    <b-container>
        <b-row>
            <b-col cols="12" lg="5" offset-lg="7">
                <div class="blog__title">
                    <h2>
                        <span class="title title--aqua">Our Blog</span>
                    </h2>
                </div>
                <div class="blog__content">
                    <p>As a digital agency, we have a responsibility to keep our knowledge up to date to ensure that we are using the necessary software solution that best fits your needs.</p>
                    <p>We strive to bring the future to you, by investing our time into new technologies and avenues of software development, we can bring your vision to life in the greatest form possible.</p>
                    <!-- <p>Read our blog to discover what technologies we are currently researching by clicking here.</p> -->
                    <p>Our blog is still in the midst of being developed right now, but rest assured, it's on its way.</p>
                </div>
            </b-col>
        </b-row>
    </b-container>
</div>