$color-white: #FFF;
$color-light-grey: #FCFCFC;
$color-dark-grey: #5A5A5A;
$color-grey: #676767;
$color-gray: #E9E9E9;
$color-turqoise: #5DA0A2;
$color-aqua: #9DC8DB;
$color-light-blue: #A4C8D6;
$color-black-transparent: rgba(48, 48, 48, .6);
$color-black: rgb(48, 48, 48);

$font-family-open-sans: 'Open Sans';