// Dependencies are to be moved into a new project.
@import "./_dependencies";
@import "./_variables";
@import "./_fonts";
@import "./_bootstrap_extensions";

body {
  @extend .background-color-light-grey;
  @extend .font-family-open-sans;
  @extend .color-grey;
}

.navbar {
  @extend .p-4;
  @extend .splitter-drop-shadow;

  .nav-item {
    @extend .font-weight-400;
    @extend .mx-4;

    .router-link-active {
      &.router-link-exact-active {
        @extend .position-relative;

        &:before {
          content: '';
          @extend .position-absolute;
          @extend .background-color-turqoise;
          @extend .bottom-0;
          @extend .left-0;
          @extend .right-0;
          height: 4px;
        }
      }
    }

    &:first-child {
      @extend .ml-0;
      @extend .mr-4;
    }

    &:last-child {
      @extend .ml-4;
      @extend .mr-0;
    }
  }
}

.banner {
  @extend .position-relative;
  @extend .my-5;

    .banner__content {
      @extend .py-6;
      @extend .pr-4;
    }

    .banner__title {
      @extend .mb-4;
    }

    .banner__subtitle {
      @extend .mr-5;
      font-size: 1.2rem;
    }

    &:before {
      content: '';
      @extend .position-absolute;
      @extend .top-0;
      @extend .right-0;
      @extend .bottom-0;
      @extend .d-block;
      left: 50%;
      background: url('./assets/img/banner.png');
      background-position: center center;
      border-top-left-radius: 220px 220px;
      border-bottom-left-radius: 220px 200px;
    }
}

.title {
  @extend .pb-1;
  @extend .pr-2;
  @extend .font-weight-600;
  border-style: solid;
  border-width: 0 0 5px;
  font-size: 3rem;

  &.title--aqua {
    border-color: $color-aqua;
  } 
}


.btn {
  &.btn-primary {
    @extend .border-radius-0;
    @extend .border-0;
    @extend .p-3;
    background-color: $color-aqua;

    &:focus {
      box-shadow: unset;
      outline: none;
    }

    &:active {
      color: unset;
      background-color: unset;

      &:not(:disabled) {
        color: unset;
        background-color: unset;
      }
      
      &:not(.disabled) {
        color: $color-white;
        background-color: $color-aqua;
      }
    }
    
  }
}