<div class="banner">
    <b-container>    
        <b-row> 
            <b-col cols="6" class="banner__content">
                <h1 class="banner__title">
                    <span class="title title--aqua">DevItUp</span>
                </h1>
                <p class="banner__subtitle">Bringing people software solutions to help achieve their business goals. Whether it be a website, app or bespoke program.</p>
                <b-button variant="primary" to="/contact">GET A FREE QUOTE</b-button>
            </b-col>
        </b-row>
    </b-container>
</div>